.style1 {
  background: blue;
  color: white;
}

.style2 {
  background: red;
  color: lime;
}

.container {
  width: 700px;
  overflow: hidden;
}

.container img {
  max-width: 100%;
  height: 100%;
}