body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
label {
    display: block;
    margin-top: 10px;
}
input {
    padding: 6px;
    width: 250px;
}
.error {
    border: 2px solid red;
    background-color: #ffe0e0;
}
button {
    margin-top: 15px;
    max-width: 100px;
    padding: 8px 15px;
    cursor: pointer;
}

.container-task1, .container-task2 {
    display: flex;
    gap: 3rem;
    width: 100%;
    margin-bottom: 2rem;
    justify-content: center;
}

#myForm {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.output {
    width: 20rem;
    padding: 1rem;
    border: 1px dashed #0056b3;
    border-radius: 5px;
}

.container-task2 {
    flex-direction: column;
    align-items: center;
}

#input-color {
    width: 100%;
    max-width: 400px;
    height: 40px;
    margin-top: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 400px;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}